<% if @status %>
  alert("Signed in successfuly");
  window.location = "<%= dashboard_index_path %>";
<% else %>
  $(".validation").html("");
  <% @error_messages.each do |message| %>
    $("#validation").append("<p><%= message %></p>")
  <% end %>
<% end %>