<% if @status %>
  alert("User Created");
  window.location = "/";
<% else %>
  $("#validation").html("")
  <% @error_messages.each do |message| %>
    $("#validation").append("<p><%= message %></p>")
  <% end %>
<% end %>