<% if @status %>
  alert("Email successfuly sent");
  window.location = "<%= home_index_path %>";
<% else %>
  $(".validation").html("");
  <% @error_messages.each do |message| %>
    $(".validation").append("<p><%= message %></p>")
  <% end %>
<% end %>